.add-btn{
  border-radius: 0% !important;
  margin-left: 5px;
}
.city-input{
  border-radius: 0% !important;
}

.city-input:focus{
  box-shadow: none !important;
}
.display_section{
  display: flex;
  justify-content: center;
  align-items: center;
}